@use '../../../../../public/assets/styles/main.scss' as *;

// Add space around the profile information.
.profile {
    width: 100%;
    max-width: px-to-rem(500);
    margin: 0 auto;
    padding: px-to-rem(24);

    @include tablet {
        padding: px-to-rem(32);
    }
}

// Show the badge and username beside each other.
.profile__header {
    @include flex($direction: row, $align: center, $justify: left, $gap: 20);
}


// Style the selected username.
.profile__name {
    @include font-inter(medium, 26, 3vw, 40);
    margin: 0;
}

// Show the role below the username.
.profile__role {
    margin: distance(4, 0, 0);
    color: red;
}

// Hide the Edit and Delete buttons on mobile.
.profile__actions {
    display: none;
}

// Add space above the contact isnformation.
.profile__information {
    margin-top: px-to-rem(60);

    h3 {
        @include font-inter(regular, 20, 20px, 20);
        margin: distance(0, 0, 16);
    }
}

// Display the label above its value.
.profile__field {
    display: grid;
    gap: px-to-rem(4);
    @include font-inter(regular, 16, 16px, 16);
    margin-bottom: px-to-rem(16);

    span {
        font-weight: 700;
    }

    p {
        margin: 0;
    }

    a {
        // Keep the clickable area as wide as the text.
        width: fit-content;
        color: $email-address;
        text-decoration: none;
        overflow-wrap: anywhere;
    }
}

// Desktop: let the profile use the available space.
@include desktop {
    .profile {
        max-width: none;
        margin: 0;
        padding: distance(30, 25);

        animation: profile-slide-in 0.15s ease-out;
    }

    .profile__header {
        gap: px-to-rem(40);
    }

    // Show the Edit and Delete buttons on desktop.
    .profile__actions {
        @include flex($direction: row, $align: center, $justify: left, $gap: 12);
        @include font-inter(regular, 16, 1vw, 16);
        margin-top: px-to-rem(8);
    }

    // Style one profile action.
    .profile__action {
        @include flex($direction: row, $align: center, $justify: left, $gap: 4);

        padding: 0;
        cursor: pointer;

        img {
            width: px-to-rem(16);
            height: px-to-rem(16);
            object-fit: contain;
        }
    }
}

@media (min-width: 1230px) {
    .profile {
        padding: distance(30, 40);
    }
    .profile__header {
        gap: px-to-rem(60);
    }
}

@keyframes profile-slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}