@use '../../../../public/assets/styles/main.scss' as *;

aside {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12dvh;
    background: $main-color;
    z-index: 10;
    padding: 0 16px;

    @include flex($gap: 12);

    @include desktop {
        top: 0;
        height: 100%;
        width: clamp(250px, 20%, 400px);
        padding: 64px 0;

        @include flex($justify: start, $gap: 84);
    }

    .logo {
        display: none;

        @include desktop {
            display: flex;
        }
    }

    .legal {
        display: none;

        @include desktop {
            @include flex($gap: 16);
            color: $font-dirty-white;
            font-family: Open Sans;

            margin-top: auto;

            a:hover {
                color: $button-blue;
            }
        }
    }

    nav {
        width: 100%;
        padding: 0;
        @include flex(row, $justify: space-around, $align: center, $gap: 6);

        @include desktop {
            @include flex(column, $gap: 12);
            width: 100%;
        }
    }

    .nav-link {
        width: 100%;
        @include flex();

        &.active {
            width: 110%;
            height: 130%;
            background: $highlight-color;
            border-radius: 16px;
        }

        @include desktop {
            &:hover {
                background: $button-blue;
            }

            &.active {
                width: 100%;
                height: 100%;
                border-radius: 0;
                pointer-events: none;
            }
            @include flex();
        }

        a {
            @include flex($gap: 4);
            color: $font-dirty-white;
            font-family: Open Sans;

            @include desktop {
                width: 160px;
                @include flex($direction: row, $align: center, $justify: start, $gap: 12);
            }

            img {
                height: 30px;
            }
        }
    }
}
