@use '../../../../public/assets/styles/main.scss' as *;

nav {
    height: 12dvh;
    background: $main-color;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0 16px;

    @include flex(row, $justify: space-around, $gap: 6);

    @include desktop {
        top: 0;
        height: 100%;
        width: clamp(250px, 20%, 400px);

        @include flex();
    }

    a {
        @include flex($gap: 4);
        color: $font-dirty-white;
        font-family: Open Sans;

        img {
            height: 35px;
        }
    }
}