<aside>
    <img class="logo" src="./assets/icons/logo.svg" alt="">
    <nav>
        <div class="nav-link">
            <a routerLink="/">
                <img src="./assets/icons/Summary.svg" alt="">
                <span>Summary</span>
            </a>
        </div>
        <div class="nav-link">
            <a routerLink="/">
                <img src="./assets/icons/tasks.svg" alt="">
                <span>Tasks</span>
            </a>
        </div>
        <div class="nav-link">
            <a routerLink="/board">
                <img src="./assets/icons/board.svg" alt="">
                <span>Board</span>
            </a>
        </div>
        <div class="nav-link" routerLinkActive="active">
            <a routerLink="/contacts">
                <img src="./assets/icons/contacts.svg" alt="">
                <span>Contacts</span>
            </a>
        </div>
    </nav>
    <div class="legal">
        <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
        <a routerLink="/legal-notice" routerLinkActive="active">Legal Notice</a>
    </div>
</aside>