<aside>
    <img class="logo" src="./assets/icons/logo.svg" alt="">
    <nav>
        <a routerLink="/">
            <img src="./assets/icons/Summary.svg" alt="">
            <span>Summary</span>
        </a>
        <a routerLink="/">
            <img src="./assets/icons/tasks.svg" alt="">
            <span>Tasks</span>
        </a>
        <a routerLink="/">
            <img src="./assets/icons/board.svg" alt="">
            <span>Board</span>
        </a>
        <a routerLink="/contacts" routerLinkActive="active">
            <img src="./assets/icons/contacts.svg" alt="">
            <span>Contacts</span>
        </a>
    </nav>
    <div class="legal">
        <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
        <a routerLink="/legal-notice" routerLinkActive="active">Legal Notice</a>
    </div>
</aside>