@use '../../../../../public/assets/styles/main.scss' as *;

dialog {
    overscroll-behavior: contain;
    overflow: hidden;
    position: fixed;
    top: px-to-rem(70);
    right: px-to-rem(8);
    left: auto;
    bottom: auto;
    z-index: 999;
    transition:
        transform 0.2s ease,
        display 0.2s allow-discrete,
        overlay 0.2s allow-discrete;

    @starting-style {
        transform: translateX(120%);
    }

    &:not([open]) {
        transform: translate(120%);
    }
}

dialog::backdrop {
    background-color: transparent;
}

nav {
    background-color: $main-color;
    padding: px-to-rem(8);
    @include flex(column, flex-start, flex-start, 10);
    @include font-inter(regular, 16, 2vw, 16);
    border-radius: 20px 0 20px 20px;

    a {
        color: $light-secondary;
        @include use-padding(8, 16);
    }
}

@include desktop {
    dialog {
        top: px-to-rem(86);
        right: px-to-rem(18);
    }

    nav{
        @include use-padding(16, 8);
    }

    .help-btn{
        display: none;
    }
}
