@use '../../../../../public/assets/styles/main.scss' as *;
@import '@ng-select/ng-select/themes/default.theme.css';

.task-form {
    @include flex($align: start, $gap: 24);
    padding: distance(22, 16);
    width: 100%;
    
    @include desktop{
        padding-left: calc(px-to-rem(250) + px-to-rem(34));
        @include flex($justify: start, $align: start, $gap: 24);
        height: calc(100dvh - 6rem);
    }

    @media (min-width: 1440px) {
        padding-left: calc(px-to-rem(250) + px-to-rem(64));
        padding-right: px-to-rem(64);
    }

    h1 {
        @include font-inter($fz-h1...);
        color: black;
    }

    form {
        @include flex($align: start, $justify: start, $gap: 16);
        width: 100%;

        div {
            @include flex($align: start, $gap: 8);
            width: 100%;
        }

        .form-columns{
            @include desktop{
                @include flex(row, $align: start, $gap: 24);
                width: 100%;
            }

            .form-column{
                @include desktop{
                    @include flex($align: start, $justify:space-between, $gap: 18);
                    flex: 1 1 0;
                    width: auto;
                    height: 100%;
                }
            }

            .form-separator{
                @include desktop{
                    width: 1px;
                    align-self: stretch;
                    background-color: $border-color;
                }
            }

        }

        .req {
            color: $required-color;
        }

        label {
            @include font-inter(regular, 16, 2%, 16);
        }

        input,
        textarea {
            border: 1px solid $border-color;
            border-radius: 12px;
            @include font-inter(regular, 16, 2%, 16);
            padding: distance(8, 12);
            outline: none;
            width: 100%;
            height: px-to-rem(40);
        }

        textarea {
            height: px-to-rem(85);

            @include desktop{
                height: px-to-rem(140);
            }
        }

        .btn-wrapper {
            width: 100%;
            @include flex(row, $justify: space-around);
        }

        .prio-section {
            margin-bottom: px-to-rem(18);
        }

        .radio-option {
            input[type='radio'] {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                white-space: nowrap;
                border: 0;
            }

            .prio-wrpr {
                @include flex(row, $gap: 6);
                padding: distance(8, 0);
                border-radius: 8px;
                @include font-inter(regular, 16, 2%, 16);
                width: px-to-rem(94);
                box-shadow: 0px 0px 4px 0px #00000066;

                @media (min-width: 525px) {
                    padding: distance(16, 24);
                    width: px-to-rem(128);
                }
                
                @include tablet {
                    width: 178px;
                    padding: distance(24, 24);
                }

                @include desktop{
                    width: 110px;
                    padding: distance(16, 24);
                }

                img {
                    width: 15px;
                }
            }

            input:checked + .prio-wrpr {
                font-weight: bold;
                color: white;
            }

            input[data-priority='urgent']:checked + .prio-wrpr {
                background-color: $status-urgent-color;
            }

            input[data-priority='medium']:checked + .prio-wrpr {
                background-color: $status-medium-color;
            }

            input[data-priority='low']:checked + .prio-wrpr {
                background-color: $status-low-color;
            }
        }

        p {
            @include font-inter(regular, 16, 2%, 16);
        }

        .selected-members {
            @include flex($direction: row, $justify: start, $gap: 4);
            flex-wrap: wrap;
            margin-top: px-to-rem(4);
        }

        select {
            border: 1px solid $border-color;
            border-radius: 8px;
            width: 100%;
            height: px-to-rem(40);
            padding: distance(8, 12);
            @include font-inter(regular, 16, 2%, 16);
            cursor: pointer;
            outline: none;
        }

        .input-wrapper {
            width: 100%;

            input {
                padding-right: px-to-rem(70);
                width: 100%;
            }

            .input-actions {
                position: absolute;
                right: px-to-rem(8);
                top: 50%;
                transform: translateY(-50%);
                width: fit-content;
                @include flex(row, $gap: 4, $justify: flex-end);

                button {
                    @include flex();
                    padding: px-to-rem(4);
                    cursor: pointer;
                }

                .devider {
                    height: 25px;
                    width: 1px;
                    background-color: $border-color;
                }
            }
        }

        .subtask-wrapper {
            @include flex(row, $justify: start, $gap:8);
            width: 80%;
            margin-left: 26px;
            @include font-inter(regular, 16, 2%, 16);

            .subtask-title {
                @include flex(row, $gap: 8);
                overflow-wrap: anywhere;
            }

            .devider {
                width: 1px;
                height: 20px;
                background: $border-color;
            }

            .subtask-actions {
                width: 60px;
                margin-left: auto;
                @include flex(row, $justify: flex-end, $gap: 12);
            }
            .subtask-edit-input {
                width: 100%;
                border: 1px solid $border-color;
                border-radius: 12px;
                @include font-inter(regular, 16, 2%, 16);
                padding: distance(8, 12);
                outline: none;
                height: px-to-rem(40);
                padding-right: px-to-rem(70);
            }
        }
    }


    .subtask-wrapper:has(.subtask-edit-input) .subtask-actions {
        position: absolute;
        right: px-to-rem(8);
        top: 50%;
        transform: translateY(-50%);
        width: fit-content;
    }
}

.error-field {
    min-height: px-to-rem(20);
    width: 100%;
}

.error-message {
    @include font-inter(regular, 16, 2%, 16);
    color: $required-color;
    top: px-to-rem(-4);
    margin-left: px-to-rem(14);
}
