@use '../../../../../public/assets/styles/main.scss' as *;
@import '@ng-select/ng-select/themes/default.theme.css';
.task-form {
    padding: distance(40, 16);
    background-color: white;

    // @include desktop{
    //     padding: distance($nav-bar);
    // }
    h1 {
        @include font-inter($fz-h1...);
        color: black;
    }

    .radio-option {
        input {
            display: none;
        }
        .prio-wrpr{
            @include flex($direction: row, $gap: 6);
            padding: 12px 24px;
            border: 2px solid #ccc;
            border-radius: 8px;
        }
    }
}

// .subtask-input{

// }

.search-bar {
    width: 100%;

    @include desktop {
        width: px-to-rem(320);
    }

    height: px-to-rem(48);
    border: 1px solid $main-color;
    border-radius: px-to-rem(10);
    background-color: white;
    overflow: hidden;
    @include flex($direction: row);

    input {
        width: 100%;
        padding: px-to-rem(16);

        @include font-inter(regular, 20, 2dvh, 20);
    }

    button {
        height: px-to-rem(32);
        padding: px-to-rem(16);
        border: none;
        border-left: 1px solid $main-color;
        background-color: white;
        cursor: pointer;
        @include flex();

        img {
            width: px-to-rem(32);
            height: px-to-rem(32);
        }
    }
}

