@use '../../../../../public/assets/styles/main.scss' as *;

.user-badge {
    display: grid;
    width: var(--badge-size, #{px-to-rem(42)});
    height: var(--badge-size, #{px-to-rem(42)});
    flex-shrink: 0;
    place-items: center;

    color: white;
    border-radius: 50%;
    font-size: var(--badge-font-size, #{px-to-rem(16)});
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.user-badge--active {
    box-shadow:
        0 0 0 2px white,
        0 0 0 3px #cbd5e1;
}