@use '../../../../public/assets/styles/main.scss' as *;

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    @include use-padding(20, 16);
    @include flex(row, center, space-between, 0);
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);

    img{
        width: px-to-rem(32);
    }

    button{
        border: $main-color solid 2px;
        border-radius: 50%;
        width: px-to-rem(40);
        aspect-ratio: 1 / 1;
    }
}