<section class="login-form">
    <div class="header-form">
        <h1>Log in</h1>
        <div class="line"></div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-wrapper">
            <div class="input-and-icon">
                <label for="email"></label>
                <input
                    (focus)="errorMessage.set(null)"
                    type="email"
                    id="email"
                    placeholder="Email"
                    formControlName="email"
                    [class.input-error]="errorMessage()"
                />
                <img class="input-icon" src="./assets/icons/mail (1).png" alt="mail icon" />
            </div>
            <div class="error-field">
                @if (email?.hasError('required') && email?.touched) {
                    <p>This field is required</p>
                }
            </div>
        </div>

        <div class="input-wrapper">
            <div class="input-and-icon">
                <label for="password"></label>
                <input
                    (focus)="errorMessage.set(null)"
                    type="password"
                    id="password"
                    formControlName="password"
                    autocomplete="current-password"
                    placeholder="Password"
                    [class.input-error]="errorMessage()"
                />
                <button
                    [class.btn-disabled]="!password?.value"
                    class="toggleBtn"
                    type="button"
                    (click)="toggleVisibility('password')"
                >
                    @if (!password?.value) {
                        <img src="./assets/icons/lock.png" alt="lock icon" />
                    }
                    @if (passwordVisible && password?.value) {
                        <img src="./assets/icons/visibility-on.png" alt="icon eye open" />
                    }
                    @if (!passwordVisible && password?.value) {
                        <img src="./assets/icons/visibility_off.png" alt="eye closed" />
                    }
                </button>
            </div>
            <div class="error-field">
                @if (password?.hasError('required') && password.touched) {
                    <p>This field is required</p>
                }
                @if (errorMessage()) {
                    <p>{{ errorMessage() }}</p>
                }
            </div>
        </div>
        <div class="button-wrapper">
            <button class="btn-login" type="submit">Login</button>
            <button (click)="loginAsGuest()" class="btn-guest" type="button">Guest Log in</button>
        </div>
    </form>
</section>

<app-signup-component class="mobile-signup-component" />
