@use '../../../../../public/assets/styles/main.scss' as *;

.login-form {
    @include font-inter(regular, 18, 2vw, 20);
    height: fit-content;
    width: use-clamp(300, 70vw, 650);
    box-shadow: 0px 0px 14px 3px #00000024;
    border-radius: 30px;
    background-color: white;
    padding: distance(48, 16);
    @include flex();

    .header-form {
        @include flex();
        margin-bottom: px-to-rem(32);

        h1 {
            @include font-inter($fz-h1...);
            margin-bottom: px-to-rem(6);
        }
        .line {
            width: 150px;
            height: 3px;
            background-color: $button-light;
        }
    }

    form {
        @include flex($justify: space-between, $gap: 32);
        width: use-clamp(260, 70%, 450);
    }

    .input-wrapper {
        width: 100%;

        .input-and-icon {
            input {
                @include input-style();
            }
            img {
                @include input-icon();
            }
        }
    }

    .button-wrapper {
        width: 100%;
        @include flex($direction: row, $gap: 30);
        margin-top: px-to-rem(16);

        .btn-login {
            @include button(dark);
        }

        .btn-guest {
            @include button(light);
        }
    }
}
