@use '../../../../public/assets/styles/main.scss' as *;

.legal-wrapper {
    @include font-inter(regular, 16, 2dvh, 16);
    padding: distance(18, 42);
    width: 100%;
    @include flex($align: start, $gap: 12);

    .legal-top{
        width: 100%;
        @include flex(row, $justify: space-between, $gap: 14);
    }

    h2 {
        font-size: px-to-rem(42);
    }

    h3 {
        font-size: px-to-rem(20);
    }

    ol,
    li {
        list-style: decimal;
    }
    
    ol {
        @include flex($align:start, $gap: 8);
    }

    li::marker {
        font-weight: bold;
    }

    @include desktop {
        padding-left: calc(px-to-rem(250) + px-to-rem(64));
        padding-right: px-to-rem(32);
        max-width: px-to-rem(1300);

        app-back-button{
            display: none;
        }
    }
}
