@use '../../../../public/assets/styles/mixins' as *;

.legal-wrapper {
    @include font-inter(regular, 16, 2dvh, 16);
    padding: 18px 16px;
    width: 100%;
    @include flex($align: start, $gap: 12);

    .legal-top{
        width: 100%;
        @include flex(row, $justify: space-between, $gap: 14);
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 20px;
    }

    ol,
    li {
        list-style: decimal;
        padding-left: 16px;
    }
    
    ol {
        @include flex($gap: 8);
    }

    li::marker {
        font-weight: bold;
    }

    @include desktop {
        padding-left: calc(clamp(250px, 20%, 400px) + 64px);
        padding-right: 32px;
        max-width: 1300px;

        app-back-button{
            display: none;
        }
    }
}
