@use '../../../../../public/assets/styles/main.scss' as *;

.signup-form {
    @include font-inter(regular, 18, 2vw, 20);
    height: fit-content;
    width: use-clamp(300, 70vw, 650);
    box-shadow: 0px 0px 14px 3px #00000024;
    border-radius: 30px;
    background-color: white;
    padding: distance(48, 16);
    @include flex();

    @include desktop {
        padding: distance(56, 40);
    }

    .header-form {
        @include flex();
        margin-bottom: px-to-rem(32);
        width: 100%;

        button {
            position: absolute;
            top: 0;
            left: 0;

            &:hover {
                transform: scale(1.08);
            }
        }

        h1 {
            @include font-inter($fz-h1...);
            margin-bottom: px-to-rem(6);
        }
        .line {
            width: px-to-rem(150);
            height: 3px;
            background-color: $button-light;
        }
    }

    form {
        @include flex($justify: space-between);
        width: use-clamp(260, 70%, 450);
    }

    .input-wrapper {
        width: 100%;

        .input-and-icon {
            input {
                @include input-style();
                margin-bottom: px-to-rem(4);
            }
            .input-icon {
                @include input-icon();
            }
            .toggleBtn {
                @include input-icon(true);
            }
        }
    }

    .error-field {
        min-height: px-to-rem(38);
        p {
            @include font-inter(regular, 16, 16px, 16);
            color: $error-color;
            line-height: 1;
        }
    }

    .input-wrpr-checkbox {
        font-size: 16px;
        align-items: center;

        .error-field {
            text-align: center;
        }

        .input-checkbox-wrapper {
            @include flex($direction: row, $gap: 16);

            label {
                color: $border-color;
            }

            #privacy-policy {
                cursor: pointer;
                appearance: none;
                width: px-to-rem(18);
                height: px-to-rem(18);
                border: 2px solid $button-blue;
                border-radius: 4px;
                position: relative;

                &:hover {
                    border-width: 1px;
                }

                &:checked {
                    border-color: $button-blue;
                }

                &:checked::after {
                    content: '\2714';
                    color: $button-blue;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 15px;
                }
            }

            a {
                color: $button-blue;

                &:hover {
                    color: $highlight-color;
                }
            }
        }
    }

    .btn-sign-up {
        @include button(dark);
        width: px-to-rem(150);
    }
}

.btn-disabled {
    pointer-events: none;
}

.message {
    margin: 0;

    &--error {
        color: #b42318;
    }

    &--success {
        color: #067647;
    }
}