@use '../../../../../public/assets/styles/main.scss' as *;

.sign-up-wrapper {
    @include flex(row, center, center, 24);
    @include font-inter(regular, 16, 20px, 0);
}

.btn-sign-up {
    @include button(dark);
    width: px-to-rem(90);
    min-height: px-to-rem(50);
    white-space: nowrap;
}

.sign-up-wrapper.signup-active {
    display: none;
}