@use '../../../../public/assets/styles/main.scss' as *;

.login-page {
    position: fixed;
    top: px-to-rem(80);
    right: 0;
    bottom: px-to-rem(80);
    left: 0;

    width: auto;
    height: auto;
    padding: distance(22, 12);
    background-color: $light-gray;

    @include flex($align: center, $justify: center, $gap: 24);

    @include tablet {
        padding: distance(36, 24);
    }

    @include desktop {
        top: px-to-rem(96);
        padding: px-to-rem(24);
    }
}


