@use '../../../../../public/assets/styles/main.scss' as *;

.welcome-wrapper {
    @include flex($align: center, $gap: 18);
    color: $main-color;
    @include font-inter(medium, 42, 2%, 42);
    width: 100%;

    @include tablet{
        align-items: start;
    }

    .greeting-time {
        @include tablet{
            font-size: 36px;
        }
        @include desktop{
            font-size: 42px;
        }
    }

    .greeting-name {
        color: $button-blue;
        font-weight: bold;

        @include tablet{
            font-size: 48px;
        }

        @include desktop{
            font-size: 54px;
        }
    }
}
