@use '../../../../../public/assets/styles/main.scss' as *;

.welcome-wrapper {
    @include flex($align: center, $gap: 18);
    color: $main-color;
    @include font-inter(medium, 42, 2%, 42);
    width: 100%;

    @include tablet {
        align-items: start;
    }

    .greeting-time {
        @include tablet {
            font-size: px-to-rem(36);
        }
        @include desktop {
            font-size: px-to-rem(42);
        }
    }

    .greeting-name {
        color: $button-blue;
        font-weight: bold;

        @include tablet {
            font-size: px-to-rem(48);
        }

        @include desktop {
            font-size: px-to-rem(54);
        }
    }
}
