@use '../../../../public/assets/styles/main.scss' as *;

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;

    @include desktop {
         max-width: 1920px;
    }
    background-color: $light-gray;

    @include flex(row, center, center, 32);
    @include font-inter(regular, 16, 20px, 16);

    a {
        color: gray;
        text-decoration: none;

        &:hover {
            color: $dark;
        }
    }
}
