@use '../../../../public/assets/styles/main.scss' as *;

.board-wrapper {
    @include font-inter(regular, 22, 2dvh, 22);
    padding: px-to-rem(16);
    @include flex($align: start, $gap: 24);
    
    @include desktop{
        @include flex($gap: 52);
        padding-left: calc(px-to-rem(250) + px-to-rem(64));
        padding-right: px-to-rem(64);
    }

    .board-top {
        width: 100%;
        flex-wrap: wrap;
        @include flex($direction: row, $justify: space-between, $gap: 12);

        h2 {
            order: 1;
            margin: 0;
            @include font-inter(bold, 48, 2dvh, 64);
        }

        app-add-task-button {
            order: 2;
        }

        app-search-bar {
            @include flex();
            order: 3;
            width: 100%;
            margin-top: px-to-rem(12);
        }

        @include desktop{
            flex-wrap: nowrap;
            gap: 0;

            // h2 {
            //     margin-right: auto;
            // }

            app-search-bar {
                order: 2;
                width: px-to-rem(380);
                margin-top: 0;
            }

            app-add-task-button {
                order: 3;
            }
        }


    }

    .board-middle{
        width: 100%;
        @include flex($align: start, $gap: 18);

        @include desktop{
            @include flex($direction: row, $align: start, $justify:space-around, $gap:42);
        }

        .task-container {
            width: 100%;
            @include flex($align: start, $gap: 18);

            @include desktop {
                max-width: 300px;
            }

            h3 {
                @include font-inter (bold, 28, 2dvh, 28);
                color: $board-text-color;

                @include desktop{
                    margin-left: px-to-rem(12);
                }
            }

            .task-list{
                width: 100%;
                @include flex($direction: row, $justify:start, $gap: 18);
                overflow-x: auto;
                padding: distance(12, 12);
                
                &::-webkit-scrollbar {
                    display: none;
                }

                @include desktop {
                    @include flex($direction: column);
                    overflow-x: visible;
                }
            }

            .no-tasks-placeholder {
                flex: 0 0 auto;
                height: px-to-rem(100);
                width: px-to-rem(250);
                background: $light-gray;
                border: dotted 3px $font-light;
                border-radius: 24px;

                @include flex();
                color: $font-light;
            }
        }
    }
}