<div class="board-wrapper">
    <div class="board-top">
        <h2>Board</h2>
        <app-search-bar></app-search-bar>
        <app-add-task-button></app-add-task-button>
    </div>
    <div class="board-main" cdkDropListGroup>
        <div class="task-container">
            <h3>To do</h3>
            <div
                cdkDropList
                [cdkDropListData]="taskmanagementService.todo()"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
                id="todo"
            >
                @for (task of taskmanagementService.todo(); track task.TASK_ID) {
                    <app-task-card [task]="task" />
                }
            </div>
        </div>

        <div class="task-container">
            <h3>In progress</h3>
            <div
                cdkDropList
                [cdkDropListData]="taskmanagementService.progress()"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
                id="progress"
            >
                @for (task of taskmanagementService.progress(); track task.TASK_ID) {
                    <app-task-card [task]="task" />
                }
            </div>
        </div>

        <div class="task-container">
            <h3>Await feedback</h3>
            <div
                cdkDropList
                [cdkDropListData]="taskmanagementService.feedback()"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
                id="feedback"
            >
                @for (task of taskmanagementService.feedback(); track task.TASK_ID) {
                    <app-task-card [task]="task" />
                }
            </div>
        </div>

        <div class="task-container">
            <h3>Done</h3>
            <div
                cdkDropList
                [cdkDropListData]="taskmanagementService.done()"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
                id="done"
            >
                @for (task of taskmanagementService.done(); track task.TASK_ID) {
                    <app-task-card [task]="task" />
                }
            </div>
        </div>
    </div>
</div>
