@use '../../../../public/assets/styles/main.scss' as *;

$card-width: clamp(#{px-to-rem(210)}, 15dvw, #{px-to-rem(250)});
$scrollbar-width: px-to-rem(5);


.task-form-dialog {
    position: fixed;
    inset: 0;
    // top: 50%;
    // left: 50%;

    margin: auto;
    // translate: -50% -50%;

    // @include dialog-slide-in-out(
    //     $from-y: 120%,
    //     $duration: 400ms,
    //     $backdrop: true
    // );

    // @include desktop {
    //     @include dialog-slide-in-out(
    //         $from-x: 120%,
    //         $duration: 400ms
    //     );
    // }
}

.task-form-dialog--animated {
    // Add mode on mobile: form from below.
    @include dialog-slide-in-out(
        $from-y: 120%,
        $duration: 400ms,
        $backdrop: true
    );

    // Add mode on desktop: form from the right.
    @include desktop {
        @include dialog-slide-in-out(
            $from-x: 120%,
            $duration: 400ms
        );
    }
}

.board-wrapper {
    @include font-inter(regular, 22, 2dvh, 22);
    padding: px-to-rem(14);
    padding-bottom: 0;
    @include flex($align: start, $gap: 24);

    @media (min-width: 1245px) {
        @include flex($gap: 48);
        padding-left: calc(px-to-rem(250) + px-to-rem(24));
        padding-right: px-to-rem(24);
    }

    .board-top {
        width: 100%;
        flex-wrap: wrap;
        @include flex($direction: row, $justify: space-between, $gap: 12);

        h2 {
            order: 1;
            margin: 0;
            @include font-inter(bold, 48, 2dvh, 64);

            @include desktop {
                margin-left: 15px;
            }
        }

        app-add-task-button {
            order: 2;
        }

        app-search-bar {
            @include flex();
            order: 3;
            width: 100%;
            margin-top: px-to-rem(12);
        }

        @include desktop {
            flex-wrap: nowrap;
            gap: 0;

            h2 {
                margin-right: auto;
            }

            app-search-bar {
                order: 2;
                width: px-to-rem(380);
                margin-top: 0;
            }

            app-add-task-button {
                order: 3;
            }
        }
    }

    .board-middle {
        width: 100%;
        @include flex($align: start, $gap: 18);

        @include desktop {
            @include flex($direction: row, $align: start, $justify: start, $gap: 12);
        }
        @media screen and (min-width: 1620px) {
            @include flex($direction: row, $align: start, $justify: start, $gap: 28);
        }

        .task-container {
            width: 100%;
            @include flex($align: start, $gap: 18);
            @include desktop {
                width: calc(#{$card-width} + #{px-to-rem(24)} + #{$scrollbar-width});
            }

            // @media (min-width: 1230px){
            //     width: clamp(px-to-rem(210), 20dvw, px-to-rem(250));
            // }
            

            h3 {
                @include font-inter(bold, 26, 2dvh, 26);
                color: $board-text-color;

                @include desktop {
                    margin-left: 15px;
                }
            }

            .task-list {
                @include flex($direction: row, $justify: start, $gap: 18);
                overflow-x: auto;
                overflow-y: auto;
                scrollbar-gutter: stable;
                margin-inline: calc(-1 * #{px-to-rem(16)});
                width: calc(100% + #{px-to-rem(30)});
                padding: px-to-rem(16);

                @media screen and (max-width: 1023px) {
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                @include desktop {
                    @include flex($direction: column, $align: start, $justify: start, $gap: 24);
                    height: 69dvh;
                    overflow-y: auto;
                    overflow-x: visible;
                    margin-inline: 0;
                    width: 100%;
                    padding: px-to-rem(12);

                    &::-webkit-scrollbar {
                        width: px-to-rem(5);
                    }

                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: $font-light;
                        border-radius: 8px;
                    }
                }
            }

            .no-tasks-placeholder {
                flex: 0 0 auto;
                height: px-to-rem(100);
                width: $card-width;
                background: $light-gray;
                border: dotted 3px $font-light;
                border-radius: 24px;
                text-align: center;

                @include flex();
                color: $font-light;
            }
        }
    }
}
