<div class="board-wrapper">
    <div class="board-top">
        <h2>Board</h2>
        <app-search-bar></app-search-bar>
        <app-add-task-button></app-add-task-button>
    </div>
    <div class="board-main" cdkDropListGroup>
        <div class="task-container">
            <h3>to do</h3>
            <div
                cdkDropList
                [cdkDropListData]="taskmanagementService.todo()"
                id="todoList"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
            >
                @for (task of taskmanagementService.todo(); track task.TASK_ID) {
                    <div class="task" cdkDrag>
                        <div class="drag-placeholder" *cdkDragPlaceholder></div>
                        {{ task }}
                    </div>
                }
            </div>
        </div>

        <div class="task-container">
            <h3>In progress</h3>
            <div
                cdkDropList
                [cdkDropListData]="taskmanagementService.progress()"
                id="progressList"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
            >
                @for (task of taskmanagementService.progress(); track task.TASK_ID) {
                    <div class="task" cdkDrag>
                        <div class="drag-placeholder" *cdkDragPlaceholder></div>
                        {{ task }}
                    </div>
                }
            </div>
        </div>

        <div class="task-container">
            <h3>Await feedback</h3>
            <div
                cdkDropList
                [cdkDropListData]="taskmanagementService.feedback()"
                id="feedbackList"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
            >
                @for (task of taskmanagementService.feedback(); track task.TASK_ID) {
                    <div class="task" cdkDrag>
                        <div class="drag-placeholder" *cdkDragPlaceholder></div>
                        {{ task }}
                    </div>
                }
            </div>
        </div>

        <div class="task-container">
            <h3>done</h3>
            <div
                cdkDropList
                [cdkDropListData]="taskmanagementService.done()"
                id="doneList"
                class="task-list"
                (cdkDropListDropped)="drop($event)"
            >
                @for (task of taskmanagementService.done(); track task.TASK_ID) {
                    <div class="task" cdkDrag>
                        <div class="drag-placeholder" *cdkDragPlaceholder></div>
                        {{ task }}
                    </div>
                }
            </div>
        </div>
    </div>
</div>
