@use './mixins' as *;
@use './variables' as *;
@use './functions' as *;

@mixin button($type: dark, $img: false) {
    @include flex(row);
    padding: distance(8, 12, 8, 12);
    border-radius: 10px;
    height: px-to-rem(43);
    width: fit-content;

    @if $img {
        gap: px-to-rem(8);
    }

    @if $type == dark {
        background: $main-color;
        color: white;

        &:hover {
            background-color: $button-hover-blue;
            box-shadow: $hover-btn-shadow;
            transform: scale(1.005);
        }
    } @else if $type == light {
        color: $main-color;
        border: 1px solid $border-color;

        &:hover {
            box-shadow: $hover-btn-shadow;
        }
    }
}

@mixin input-style {
    width: 100%;
    border-radius: 10px;
    border: 1px #686868 solid;
    height: px-to-rem(40);
    padding: distance(13, 21);
    padding-right: px-to-rem(40);
}

@mixin input-icon {
    position: absolute;
    top: 50%;
    right: px-to-rem(16);
    transform: translateY(-50%);
    width: px-to-rem(20);
    height: px-to-rem(20);
    pointer-events: none;
}
