$f-weight: (
    thin: 300,
    regular: 400,
    bold: 700,
    x-bold: 800
);

$main-color: #2A3647;
$highlight-color: #091931;
$status-urgent-color: #FF3D00;
$status-medium-color: #FFA800;
$status-low-color: #7AE229;
$dark: #2A3647;
$font-light: #A8A8A8;
$light-secondary: #CDCDCD;
$button-blue:#124658;
$button-dark: #091931;
$button-light: #29ABE2;
$error-color: #E60026;