@use './functions' as func;
$f-weight: (
    regular: 400,
    medium: 600,
    bold: 700,
);

$fz-h1: bold, 40, 4vw, 61;
$nav-bar: 250;

$main-color: #2A3647;
$highlight-color: #091931;
$status-urgent-color: #FF3D00;
$status-medium-color: #FFA800;
$status-low-color: #7AE229;
$dark: #2A3647;
$font-light: #A8A8A8;
$light-secondary: #CDCDCD;
$button-blue:#124658;
$button-dark: #091931;
$button-light: #29ABE2;
$error-color: #E60026;
$font-dirty-white: #E7E7E7;
$border-contact-list: #D1D1D1;
$email-address: #007CEE;
$button-hover-blue: #243549;
$light-gray: #F6F7F8;
$badge-blue: #0038FF;
$badge-green: #1FD7C1;