<dialog appDialog="edit-and-add-contact">
    <div>
        <section class="part part-top">
            <div>
                <button><img src="./assets/icons/btn-close-white.png" alt="icon close button" /></button>
            </div>
            <h2>Edit contact</h2>
            <div></div>
        </section>
        <section class="part part-bottom">
            <form>
                <input type="text" placeholder="Name"/>
                <input type="email" placeholder="Email"/>
                <input type="tel" placeholder="Phone"/>
            </form>
            <div>
                <button>Delete</button>
                <button>Save</button>
            </div>
        </section>
    </div>
    <p>AM</p>
</dialog>
