@use '../../../../public/assets/styles/main.scss' as *;

.summary-wrapper {
    padding: distance(22, 12, 80, 12);
    @include flex($align: start, $justify: start, $gap: 24);
    @include font-inter(regular, 16, 2%, 16);
    min-height: calc(100dvh - 6rem - 100px);

    @media (min-width: 445px){
        padding-left: 11dvw;
    }

    @include desktop {
        padding-left: calc(px-to-rem(250) + px-to-rem(32));
        padding-bottom: px-to-rem(100);
    }

    @media (min-width: 1400px){
        padding-left: calc(px-to-rem(250) + px-to-rem(48));
    }

    .summary-top {
        @include flex($gap: 18, $align: start);
        padding-bottom: px-to-rem(18);

        h1 {
            @include font-inter($fz-h1...);
        }

        p {
            font-size: px-to-rem(20);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 48%;
            height: 3px;
            background-color: $button-light;
        }
    }

    .summary-content {
        @include flex($align: start, $gap: 42);
        width: 100%;

        @include desktop {
            flex-direction: row;
            align-items: center;
            justify-content: start;
        }

        .task-overview {
            @include flex($gap: 18);
            max-width: 356px;
            width: 100%;

            @include desktop{
                width: 50%;
                max-width: 450px;
            }

            .counter {
                font-size: 32px;
                font-weight: bold;
            }

            .top {
                @include flex(row, $justify: space-between, $gap:10);
                width: 100%;

                button {
                    @include flex(row, $gap: 10);
                    border-radius: 16px;
                    width: 50%;
                    height: 95px;

                    @include tablet{
                        height: 110px;
                    }

                    .icon-default {
                        height: 40px;
                        width: 40px;
                    }

                    .icon-hover {
                        display: none;
                    }

                    &:hover {
                        .icon-default {
                            display: none;
                        }

                        .icon-hover {
                            display: block;
                            height: 40px;
                            width: 40px;
                        }
                    }

                    div {
                        @include flex();
                    }
                }
            }

            .middle {
                width: 100%;
                button {
                    @include flex(row, $gap: 12);
                    width: 100%;
                    border-radius: 16px;
                    height: 95px;

                    @include tablet{
                        height: 110px;
                    }

                    &:hover{
                        .right .date{
                            color: white;
                        }
                    }

                    .left {
                        @include flex(row, $gap: 10);

                        .prio-icon {
                            @include flex();
                            border-radius: 50%;
                            width: px-to-rem(40);
                            height: px-to-rem(40);

                            &.red {
                                background-color: $status-urgent-color;
                            }

                            &.orange {
                                background-color: $status-medium-color;
                            }

                            &.green {
                                background-color: $status-low-color;
                            }
                        }
                    }

                    .devider {
                        width: 2px;
                        height: 70%;
                        background-color: $font-light;
                        
                        @include tablet {
                            margin-inline: px-to-rem(12);
                        }
                    }

                    .right {
                        @include flex($gap: 8);
                        .date {
                            color: $dark;
                            font-weight: bold;
                        }
                    }
                }
            }

            .bottom {
                @include flex(row, $justify: space-between, $gap: 5);
                width: 100%;

                button {
                    @include flex();
                    border-radius: 16px;
                    width: 30%;
                    height: 95px;

                    @include tablet{
                        height: 110px;
                    }
                }
            }
        }

        .welcome-message {
            display: none;
            
            app-greeting{
                width: 100%;
            }
            
            @include desktop{
                display: flex;
                width: 50%;
            }
        }
    }
}

button {
    box-shadow: 0px 0px 4px 0px #00000066;
    background-color: white;
}

button:hover {
    transform: scale(1.1);
    background-color: $dark;
    color: white;
}
