<dialog appDialog="edit-and-add-contact" class="contactDialog">
    <div class="dialog-wrpr">
        <section class="part part-top">
            <img class="dialog-logo" src="./assets/icons/logo.svg" alt="" />
            <button class="close-btn" (click)="dialogService.closeDialog()">
                <img src="./assets/icons/btn-close-white.png" alt="icon close button" />
            </button>

            @if (dialogService.dialogMode() == 'edit') {
                <h2>Edit contact</h2>
            } @else if (dialogService.dialogMode() == 'add') {
                <h2>Add contact</h2>
                <p>Tasks are better with a team!</p>
            }

            <div class="line"></div>
            <div class="filler"></div>
        </section>
        <section class="part part-bottom">
            <button class="close-btn-desk" (click)="dialogService.closeDialog()">
                <img src="./assets/icons/btn-close-blue.svg" alt="icon close button" />
            </button>

            <div class="dialog-badge">
                @if (dialogService.dialogMode() == 'edit' && profileService.selectedProfile(); as selected) {
                    <app-user-badge
                    [userId]="selected.id"
                    [userName]="selected.user_name"
                    size="large"
                    [active]="true" />
                } @else if (dialogService.dialogMode() == 'add') {
                    <div class="user-badge user-badge--large">
                        <img src="./assets/icons/person-icon.svg" alt="">
                    </div>
                }
            </div>

            <form [formGroup]="contactForm" (ngSubmit)="formSubmit()">
                <div class="field">
                    <div class="input-wrapper">
                        <input type="text" placeholder="Name" formControlName="name" />
                        <img class="input-icon" src="./assets/icons/person (1).png" alt="" />
                    </div>
                    <div class="error-field">
                        @if (name?.hasError('required') && name?.touched) {
                            <p>This field is required</p>
                        } @else if (name?.hasError('stringTooShort') && name?.touched) {
                            <p>Please enter at least three characters</p>
                        }
                        <!-- validator error einfügen -->
                        @else if (name?.hasError('pattern') && name?.touched) {
                            <p>Please use only letters and valid name characters</p>
                        }
                    </div>
                </div>

                <div class="field">
                    <div class="input-wrapper">
                        <input type="email" placeholder="Email" formControlName="email" />
                        <img class="input-icon" src="./assets/icons/mail (1).png" alt="" />
                    </div>
                    <div class="error-field">
                        @if (email?.hasError('required') && email?.touched) {
                            <p>This field is required</p>
                        }
                        @if (email?.hasError('email') && email?.touched) {
                            <p>Please use a valid email</p>
                        }
                    </div>
                </div>

                <div class="field">
                    <div class="input-wrapper">
                        <input type="tel" placeholder="Phone" formControlName="phone" />
                        <img class="input-icon" src="./assets/icons/call (1).png" alt="" />
                    </div>
                    <div class="error-field">
                        @if (phone?.hasError('required') && phone?.touched) {
                            <p>This field is required</p>
                        }
                        <!-- validator error einfügen -->
                        @if (phone?.hasError('pattern') || phone?.hasError('stringTooShort')) {
                            <p>Please use a valid phone number</p>
                        }
                    </div>
                </div>

                <div class="buttons">
                    @if (dialogService.dialogMode() == 'edit') {
                        @if (profileService.selectedProfile(); as selected) {
                            <app-delete-profile #deleteTrigger [profile] ="selected" [showButton]="false" />
                            <button class="button button-primary" type="button" (click)="deleteTrigger.openConfirmation()">Delete</button>
                        }
                        <button class="button button-secondary" type="submit">Save</button>
                    }
                    @if (dialogService.dialogMode() == 'add') {
                        <button class="button button-primary" type="button" (click)="dialogService.closeDialog()">Cancel</button>
                        <button class="button button-secondary" type="submit">Create</button>
                    }
                </div>
            </form>
        </section>
    </div>
</dialog>
